<%= simple_form_for([@article, @article.comments.build],html: {  id: :'comment-form' })  do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.text_area :body ,:placeholder => "What do you think about this article?"%>
    </div>
    <%= f.hidden_field :article_id %>
    <%= f.input :user_name if !current_user%>
    <%= f.button :submit, id: 'comment-submit' %>
    
  </div>

  <div class="form-actions">
  </div>
<% end %>
