<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @download.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @download.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @download.description %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @download.edition %>
</p>

<%= link_to 'Edit', edit_download_path(@download) %> |
<%= link_to 'Back', downloads_path %>
