<% if @comments.length > 0 %>
<div class="artify">Comments</div>
<% end %>
<div class="comment-info"></div>
<% @comments.each do |comment| %>
	<div class="comment">
		<div class="bubble-list">
      	<div class="bubble clearfix">
    	    <strong>-<%= comment.user_name %></strong>
    <div class="bubble-content">
         <div class="point"></div>
		<div class="row">
		<br>
		<p class="pull-left" style="margin-bottom:0px"><%= comment.body %></p>
		<p class="pull-right" style="margin-bottom:0px">
    <%= link_to "approve ",comments_approve_path(comment), class: 'comment-approve' if current_user and current_user.admin? and comment.status!='Approved' %>
    <%= link_to "unapprove ",comments_disapprove_path(comment), class: 'comment-disapprove' if current_user and current_user.admin? and comment.status=='Approved' %>
    <%= link_to 'x', [comment.article, comment], class: 'delete-btn' ,method: :delete, title: "Detele Comment", data: { confirm: 'Are you sure?' } %></p>
    <br>
		</div>
		</div>
		</div>
       </div>
</div>

<% end %>
<div class="row">
	<% if current_user %>
		<%= render 'comments/form' %>
	<% end %>
  </div>