<% if !@xhr %>
<p id="notice"><%# notice %></p>
<% end %>

<div id="wrapper">
  <a href="#close" title="Close" class="close">X</a>
  <div id="contant">
  <div class="contant_1">
  <div class="contant_1_left">

  <div class="headifyo">         
  <%= image_tag("favicon.png", :alt => "url icon") %>
     The Guindy Times</div>
  <div class="title">
  <h2>
  	<%= @a['article'].title %>
     <span>Contributed by <%= raw @a['article'].author_list.map { |t| link_to t, tag_path(t) }.join(', ') %> at <%= @a['article'].created_at.strftime('%d %b %Y') %> </span>
  </h2>
  </div>
  <h3><%= raw @article.tag_list.map { |t| link_to t, tag_path(t) ,:'data-pjax' => '#articles .hs'}.join(', ') %></h3>
  <br class="clear bottomClear" />
  <%# image_tag(@a['img'], :alt => "" , :class => 'article_img img-responsive', :style => 'width:60%;') %>
  <div class="content">
  	<%= @a['article'].content.html_safe %>
  </div>
  </div>
  <br class="clear" />
  </div>
  </div>
  <div id="footerContainer">
     <p>
     <span><strong>Copyright 2014 The Guindy Times. All Rights Reserved</strong></span>
     </p>
  </div>
  <div class="comments">
	  
  <%= render 'articles/comments' %>
  <a href="https://www.facebook.com/sharer/sharer.php?u=<%= article_url(@a['article']) %>" class="btn-social"><i class="fa fa-facebook"></i> | Share on Facebook</a>
  <%# social_share_button_tag(@a['article'].title, :url => article_url(@a['article'])) %>
  <!-- <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/"></div> -->
  </div>

</div>


<% if (!@xhr and (current_user and current_user.admin?)) %>
<p><%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %></p> 
<% else %>
<%= link_to 'Back', root_path %></p> 
<% end %>
