<td>
	<%= user.name %>
</td>
<td>
  <%= link_to user.email, user %>
</td>
<td>
  <%= user.role.capitalize %>
</td>
<td>
  <%= form_for(user) do |f| %>
    <%# f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}, { class: 'pull-left' }) %>
    <%= f.submit 'Change Role', :class => 'btn-mini pull-right' %>
  <% end %>
</td>
<td>
  <%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs') unless user == current_user %>
</td>
