
   <!-- Header
   ================================================== -->
   <header id="home">

      <nav id="nav-wrap">

         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
        <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

         <ul id="nav" class="nav">
            <li><%= image_tag('favicon.png') %></li>
            <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
            <li><a class="smoothscroll" href="#about">About</a></li>
           <li><a class="smoothscroll" href="#articletrend">Articles trending</a></li>
            <li><a class="smoothscroll" href="#articles">Articles</a></li>
            <li><a class="smoothscroll" href="#gallery">Gallery</a></li>
            <li><a class="smoothscroll" href="#calender">Calender</a></li>
            <li><a class="smoothscroll" href="#contact">Contact</a></li>
            <% if user_signed_in? %>
              <% if current_user.admin? %>
                <li><%= link_to 'Users', users_path %></li>
              <% end %>
            <% end %>

         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

      <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline">The Guindy Times</h1>
            <h3>The official students' magazine of Anna University,Chennai.</h3>
            <hr />
            <ul class="social">
               <li><a href="#"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#"><i class="fa fa-twitter"></i></a></li>
               <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
     <!--          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="#"><i class="fa fa-instagram"></i></a></li>
               <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
               <li><a href="#"><i class="fa fa-skype"></i></a></li>-->
            </ul>
         </div>
         <div class="bulletin">
         <h2>Hot Articles</h2>
         <ul class="icon-list" >
            <% @hotArticles.each do |a| %>
               <li><%= link_to a.title[0,100],a %></li>
            <% end %>
            <% if @hotArticles.length == 0 %>
               <li>No Spicy articles today. Come back tomorrow !!</li>
               <li>No Spicy articles today. Come back tomorrow !!</li>
               <li>No Spicy articles today. Come back tomorrow !!</li>
               <li>No Spicy articles today. Come back tomorrow !!</li>
               <li>No Spicy articles today. Come back tomorrow !!</li>
 
            <% end %>
         </ul>
      </div>

      </div>
      <div class="bulletin1">
         <h2>Hot news</h2>
         <ul class="icon-list">
            <li>End semester schedule</li>
            <li>Revaluation results</li>
            <li>Arrear results</li>
            <li>Revaluation application</li>
            <li>fee pay online</li>
         </ul>  
      </div>
   
      <p class="scrolldown">
         <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
      </p>

   </header> <!-- Header End -->


   <!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row">

         <div class="three columns">
            <img class="profile-pic"  src="assets/gt.jpg" alt="" />
         </div>

         <div class="nine columns main-col">

            <h2>About Us</h2>

            <p>The Guindy Times is the official students' magazine of CEG, ACT and SAP campuses of Anna University,Chennai.
            It was established in some blah blahThe Guindy Times is the official students' magazine of CEG, ACT and SAP campuses of Anna University,Chennai.
            It was established in some blah blahThe Guindy Times is the official students' magazine of CEG, ACT and SAP campuses of Anna University,Chennai.
            It was established in some blah blahThe Guindy Times is the official students' magazine of CEG, ACT and SAP campuses of Anna University,Chennai.
            It was established in some blah blahThe Guindy Times is the official students' magazine of CEG, ACT and SAP campuses of Anna University,Chennai.
            It was established in some blah blahThe Guindy Times is the official students' magazine of CEG, ACT and SAP campuses of Anna University,Chennai.
            It was established in some blah blahThe Guindy Times is the official students' magazine of CEG, ACT and SAP campuses of Anna University,Chennai.
            It was established in some blah blah
            </p>

            <div class="row">

               <div class="columns contact-details">

                  <h2>Contact Details</h2>
                  <p class="address">
               <span>The Guindy Times</span><br>
               <span>College of Engineering,Guindy<br>
                     Anna University, Chennai-25.
                     </span><br>
               <span>(123)456-7890</span><br>
                     <span>anyone@website.com</span>
             </p>

               </div>


            </div> <!-- end row -->

         </div> <!-- end .main-col -->

      </div>

   </section> <!-- About Section End-->


   

   
<!-- News trending Section 
================================================= ------>
      <section id="articletrend">

      <div class="row">

         <div class="twelve columns collapsed">
         <br />
         <br />
         <br />
            <h1>Articles trending</h1>

            <!-- gallery-wrapper -->
            

            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">
            <% i=1 %>
            <% @tags.each do |tag| %>
               <div class="line<%=i%>">
                  <div class="container">
                     <div class="new"><%= tag[:name] %></div>
                     <div id="content-slider">
                        <div id="slider">
                           <div id="mask">
                              <ul>
                                 <% j=1 %>
                                 <% tag[:articles].each do |a| %>
                                    <li id="<%= @numbers[j] %>" class="<%= @numbers[j] %>animation">
				    <%= link_to image_tag(a['img'], :alt => a['title']),a %>
                                       <div class="tooltip">
					       <h1><%= a['title'] %></h1>
                                       </div>
                                    </li>
                                    <% j=j+1 %>
                                 <% end %>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
            <% i=i+1 %>
            <% end %>
            
            </div>
            <!-- portfolio-wrapper end -->



         </div> <!-- twelve columns end -->




      </div> <!-- row End -->

   </section> <!-- News trending Section End-->
   
   
<!-- Articles Section
   ================================================== -->
   <section id="articles">

      <div class="row">

         <div class="twelve columns collapsed">
         <br />
         <br />
         <br />

            <h1>Articles</h1>
         <!-- <h2> Sports </h2> -->


         
            <script>
            function load_article(id){
               url='/articles/'+id;
               $.get(url).done(function(data,status){
                  // $('#postsfeed').html(data)
                  $('#article_ajax .articlify-head').html(data.title);
                  $('#article_ajax .articlify-detail').html(data.content);
                  return true;  
                  });
            }
            </script>
            <div class="hs">
                  <ul>
                  <% if @articles.empty? %>
                     <div class="empty"><h3> No articles yet </h3></div>
                  <% else %>
                        <div id="article_ajax" class="modalDialog">
                           <div>
                              <a href="#close" title="Close" class="close">X</a>
                              <div class="articlify-head">Please wait</div>
                              <div class="articlify-detail">Loading article</div>
                           </div>
                       </div>
                     <% i=0 %>
                     <% @articles.each do |a| %>
                        <li><a  class="pull-left" onclick="load_article('<%= a.slug %>')" href='#article_ajax'><%= a.title %></a></li>
                        <li class="pull-right" title="Views"><%= a.views %></li><br>
                        <%# raw a.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
                        <% i= i+1 %>
                     <% end %>
                  <% end %>
                  </ul>
            </div> 
         </div>
      </div> <!-- row End -->

   </section> <!-- Articles Section End-->

<!-- Gallery Section
   ================================================== -->
   <section id="gallery">

      <div class="row">

         <div class="twelve columns collapsed">
         <br />
         <br />
         <br />

            <h1>Gallery</h1>

            <!-- gallery-wrapper -->
	    <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">
		    <% if @images.length <= 0 %>
			    Add articles with images in them
		    <% end %>
          <% j=1 %>
		<% @images.each do |i| %>
         <% i['src'].each do |img| %>
               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-0<%=j%>" title="">
			               <img alt="" src="<%=img%>">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
                              <h5><%= i['article'].title %></h5>
                              <p><%= raw i['article'].tag_list.join(', ') %></p>
                           </div>
                        </div>
                        <div class="link-icon"><i class="icon-plus"></i></div>
                     </a>

                  </div>
	              </div> <!-- item end -->

                 <div id="modal-0<%=j%>" class="popup-modal mfp-hide">

                     <img class="scale-with-grid" src="<%=img%>" alt="" />

                     <div class="description-box">
                        <h4><%= link_to i['article'].title,i %></h4>
                        <p><%= raw i['article'].tag_list.map{ |t| link_to t, tag_path(t) }.join(', ') %></p>
                     </div>

                     <div class="link-box">
                        <a class="popup-modal-dismiss">Close</a>
                     </div>

                  </div><!-- modal-01 End -->
         <% j=j+1 %>


         <% end %>
         
      <% end %>


            </div> <!-- portfolio-wrapper end -->

         </div> <!-- twelve columns end -->



         

      </div> <!-- row End -->

   </section> <!-- Gallery Section End-->


   <!-- Calender Section
   ================================================== -->
   <section id="calender">

      
      <div class="row">

         
         <div class="nine columns main-col blah">

         <br />
         <br />
            <iframe src="https://www.google.com/calendar/embed?height=700&amp;wkst=1&amp;bgcolor=%23ffcccc&amp;src=pu9n208ul4t93ra8oshrlcplnk%40group.calendar.google.com&amp;color=%23B1440E&amp;ctz=Asia%2FCalcutta&amp;search_plus_one=form" style=" border-width:0 " width="1200" height="600" frameborder="0" scrolling="no"></iframe>
         </div> <!-- main-col end -->

      </div> <!-- End Education -->
</section>


   <!-- Contact Section
   ================================================== -->
   <section id="contact">

         <div class="row section-head">

            <div class="two columns header-col">

               <h1><span>Get In Touch.</span></h1>

            </div>

            <div class="ten columns">

                  <p class="lead">Please fill out the form below, we'll contact you soon :)
                  </p>

            </div>

         </div>

         <div class="row">

            <div class="eight columns">

               <!-- form -->
               <form action="" method="post" id="contactForm" name="contactForm">
          <fieldset>

                  <div>
               <label for="contactName">Name <span class="required">*</span></label>
               <input type="text" value="" size="35" id="contactName" name="contactName">
                  </div>

                  <div>
               <label for="contactEmail">Email <span class="required">*</span></label>
               <input type="text" value="" size="35" id="contactEmail" name="contactEmail">
                  </div>

                  <div>
               <label for="contactSubject">Subject</label>
               <input type="text" value="" size="35" id="contactSubject" name="contactSubject">
                  </div>

                  <div>
                     <label for="contactMessage">Message <span class="required">*</span></label>
                     <textarea cols="50" rows="15" id="contactMessage" name="contactMessage"></textarea>
                  </div>

                  <div>
                     <button class="submit">Submit</button>
                     <span id="image-loader">
                        <img alt="" src="assets/loader.gif">
                     </span>
                  </div>

          </fieldset>
           </form> <!-- Form End -->

               <!-- contact-warning -->
               <div id="message-warning"> Error boy</div>
               <!-- contact-success -->
           <div id="message-success">
                  <i class="fa fa-check"></i>Your message was sent, thank you!<br>
           </div>

            </div>


            <aside class="four columns footer-widgets">

               <div class="widget widget_contact">

             <h4>Address and Phone</h4>
             <p class="address">
               The Guindy Times,<br>
               College of Engineering, Guindy <br>
               Anna University,Chennai-25.<br>
               <span>(123) 456-7890</span>
             </p>

           </div>
            </aside>

      </div>

   </section> <!-- Contact Section End-->


   <!-- footer
   ================================================== -->
   <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="social-links">
               <li><a href="#"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#"><i class="fa fa-twitter"></i></a></li>
               <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <!--     <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="#"><i class="fa fa-instagram"></i></a></li>
               <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
               <li><a href="#"><i class="fa fa-skype"></i></a></li>-->
            </ul>

            <ul class="copyright">
               <li>&copy; Copyright 2014 The Guindy Times</li>
            </ul>

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

      </div>

   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>

