
<!-- Header
   ================================================== -->
<header id="home">

    <nav id="nav-wrap">

        <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
        <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

        <ul id="nav" class="nav">
            <li><%= image_tag('favicon.png') %></li>
            <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
            <li><a class="smoothscroll" href="#about">About</a></li>
            <li><a class="smoothscroll" href="#articletrend">Articles trending</a></li>
            <li><a class="smoothscroll" href="#articles">Articles</a></li>
            <li><a class="smoothscroll" href="#gallery">Gallery</a></li>
            <li><a class="smoothscroll" href="#calendar">Calendar</a></li>
            <li><a class="smoothscroll" href="#contact">Contact</a></li>
            <% if user_signed_in? %>
                <% if current_user.admin? %>
                    <li><%= link_to 'Admin Dashboard', admin_path %></li>
                <% end %>
                <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
        <% end %>

        </ul> <!-- end #nav -->

    </nav> <!-- end #nav-wrap -->

    <div class="row banner">
        <div class="banner-text">
            <h1 class="responsive-headline">The Guindy Times</h1>
            <h3>The official students' magazine of Anna University,Chennai.</h3>
            <hr />
            <ul class="social">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <!--          <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="#"><i class="fa fa-instagram"></i></a></li>
               <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
               <li><a href="#"><i class="fa fa-skype"></i></a></li>-->
            </ul>
        </div>
        <div class="row">
            <div class="bulletin col-md-6 col-xs-12">
                <h2>Hot Articles</h2>
                <ul class="icon-list" >
                    <% @hotArticles.each do |a| %>
                        <li><a onclick="load_article('<%= a.slug %>')" href='#article_ajax'><%= a.title[0,100] %></a></li>
                <% end %>
                    <% if @hotArticles.length == 0 %>
                        <li>No Spicy articles today. Come back tomorrow !!</li>
                    <li>No Spicy articles today. Come back tomorrow !!</li>
                    <li>No Spicy articles today. Come back tomorrow !!</li>
                    <li>No Spicy articles today. Come back tomorrow !!</li>
                    <li>No Spicy articles today. Come back tomorrow !!</li>

                <% end %>
                </ul>
            </div>

            <div class="bulletin col-md-6 col-xs-12 pull-right">
                <h2>Hot news</h2>
                <ul class="icon-list">
                    <% @hotNews.each do |a| %>
                            <li><a onclick="load_article('<%= a.slug %>')" href='#article_ajax'><%= a.title[0,100] %></a></li>
                    <% end %>
                        <% if @hotNews.length == 0 %>
                        <li>End semester schedule</li>
                        <li>Revaluation results</li>
                        <li>Arrear results</li>
                        <li>Revaluation application</li>
                        <li>fee pay online</li>
                    <% end %>
                </ul>  
            </div>
        </div>

    </div>
    <p class="scrolldown">
    <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
    </p>

</header> <!-- Header End -->


<!-- About Section
   ================================================== -->
<section id="about">

    <div class="row">

        <div class="three columns">
            <img class="profile-pic"  src="assets/gt.jpg" alt="" />
        </div>

        <div class="nine columns main-col">

            <h2>About Us</h2>

            <p>Since ancient times man has written (or drawn), what he has observed in life. From the technologies he’s invented (be it fire or the aeroplane) to the movies he’s liked. Man has written it all, whatever is relevant to him. And when it comes to finding relevant news for a person from Anna University or if this place holds interest to anyone, then the best thing for the person is the Guindy Times. </p>
            <p>The Guindy Times is the official campus magazine of CEG, AC Tech and SAP. The students’ magazine is a media body which strives to keep the people of the campus updated about what is happening both in and outside of campus. The campus members are both the simulation and the beneficiaries of the endeavor. </p>
            <p>So, wordsmiths out there, send in your articles, satirical pieces, campus experiences, reviews, etc. to <a href="mailto:contents@guindytimes.com.?Subject=Content" target="_top">contents@guindytimes.com</a>
            </p>

            <div class="row">

                <div class="columns contact-details">

                    <h2>Contact Details</h2>
                    <p class="address">
                    <span>The Guindy Times</span><br>
                    <span>College of Engineering,Guindy<br>
                        Anna University, Chennai-25.
                    </span><br>
                    <span>(123)456-7890</span><br>
                    <span>anyone@website.com</span>
                    </p>

                </div>


            </div> <!-- end row -->

        </div> <!-- end .main-col -->

    </div>

</section> <!-- About Section End-->





<!-- News trending Section 
================================================= ------>
<section id="articletrend">

    <div class="row">

        <div class="twelve columns collapsed">
            <br />
            <br />
            <br />
            <h1>Articles trending</h1>

            <!-- gallery-wrapper -->


            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">
                <% i=1 %>
                <% @tags.each do |tag| %>
                    <div class="line<%=i%>">
                    <div class="container">
                        <div class="new"><%= link_to tag[:tag].name,tag_path(tag[:tag].name) , :'data-pjax' => '#articles .hs' %></div>
                        <div id="content-slider">
                            <div id="slider">
                                <div id="mask">
                                    <ul>
                                        <% j=1 %>
                                        <% tag[:articles].each do |a| %>
                                            <li id="<%= @numbers[j] %>" class="<%= @numbers[j] %>animation">
                                        <%= link_to image_tag(a['img'], :alt => a['title']),a %> <!-- Needs fix -->
                                        <div class="tooltip">
                                            <h1><%= a['title'] %></h1>
                                        </div>
                                        </li>
                                        <% j=j+1 %>
                                    <% end %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% i=i+1 %>
                <% end %>

                </div>
                <!-- portfolio-wrapper end -->



            </div> <!-- twelve columns end -->




        </div> <!-- row End -->

    </section> <!-- News trending Section End-->


    <!-- Articles Section
   ================================================== -->

   <section id="articles">

      <div class="row">

         <div class="twelve columns collapsed">
         <br />
         <br />
         <br />

            <h1>Articles</h1>
         <!-- <h2> Sports </h2> -->
            <script>
              function load_article(id){
                 url='/articles/'+id;
                 $.get(url).done(function(data,status){
                    $('#article_ajax').html(data);
                    return true;  
                  });
              }
            </script>
                <div class="hs">
                  <%= render 'home/articles' %>
                </div> 
            </div>
        </div> <!-- row End -->

    </section> <!-- Articles Section End-->

    <!-- Gallery Section
   ================================================== -->
    <section id="gallery">

        <div class="row">

            <div class="twelve columns collapsed">
                <br />
                <br />
                <br />

                <h1>Gallery</h1>

                <!-- gallery-wrapper -->
                <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">
                    <% if @images.length <= 0 %>
                        Add articles with images in them
                <% end %>
                    <% j=1 %>
                    <% @images.each do |i| %>
                        <% i['src'].each do |img| %>
                        <div class="columns portfolio-item">
                        <div class="item-wrap">

                            <a href="#modal-0<%=j%>" title="">
                                <img alt="" src="<%=img%>">
                                <div class="overlay">
                                    <div class="portfolio-item-meta">
                                        <h5><%= i['article'].title %></h5>
                                        <p><%= raw i['article'].tag_list.join(', ') %></p>
                                    </div>
                                </div>
                                <div class="link-icon"><i class="icon-plus"></i></div>
                            </a>

                        </div>
                    </div> <!-- item end -->

                    <div id="modal-0<%=j%>" class="popup-modal mfp-hide">

                        <img class="scale-with-grid" src="<%=img%>" alt="" />

                        <div class="description-box">
                            <h4><%= link_to i['article'].title,i %></h4>
                            <p><%= raw i['article'].tag_list.map{ |t| link_to t, tag_path(t) }.join(', ') %></p>
                        </div>

                        <div class="link-box">
                            <a class="popup-modal-dismiss">Close</a>
                        </div>

                    </div><!-- modal-01 End -->
                    <% j=j+1 %>


                <% end %>

                <% end %>


                </div> <!-- portfolio-wrapper end -->

            </div> <!-- twelve columns end -->





        </div> <!-- row End -->

    </section> <!-- Gallery Section End-->


    <!-- Calendar Section
   ================================================== -->
    <section id="calendar">


        <div class="row">
            <h1>Calendar</h1>

                <div class="events">
                    <% @events.each do |e| %>
                        <div class="event-item">
                            <%= link_to e.title, e, class: 'pull-left' %>
                            <p class='pull-right'><%= e.from.strftime('%d-%b-%y') %> to <%= e.to.strftime('%d-%b-%y') if e.from!=e.to %></p>
                            <br>
                            <div id="event-<%=e.id%>" class="event-description"></div>
                        </div>
                    <% end %>
                </div>

                <!-- <br />
                <br />
                <iframe src="https://www.google.com/calendar/embed?height=700&amp;wkst=1&amp;bgcolor=%23ffcccc&amp;src=pu9n208ul4t93ra8oshrlcplnk%40group.calendar.google.com&amp;color=%23B1440E&amp;ctz=Asia%2FCalcutta&amp;search_plus_one=form" style=" border-width:0 " width="1200" height="600" frameborder="0" scrolling="no"></iframe> -->

        </div> <!-- End Education -->
    </section>


    <!-- Contact Section
   ================================================== -->
    <section id="contact">

        <div class="row section-head">

            <div class="two columns header-col">

                <h1><span>Get In Touch.</span></h1>

            </div>

            <div class="ten columns">

                <p class="lead">Please fill out the form below, we'll contact you soon :)
                </p>

            </div>

        </div>

        <div class="row">

            <div class="eight columns" id = "gt">

                <!-- form -->
                <!--<form action="/messages" method="post" id="contactForm" name="contactForm" data-remote="true">
          <fieldset>

                  <div>
               <label for="contactName">Name <span class="required">*</span></label>
               <input type="text" value="" size="35" id="contactName" name="message[name]">
                  </div>

                  <div>
               <label for="contactEmail">Email <span class="required">*</span></label>
               <input type="text" value="" size="35" id="contactEmail" name="message[email]">
                  </div>

                  <div>
               <label for="contactSubject">Subject</label>
               <input type="text" value="" size="35" id="contactSubject" name="message[subject]">
                  </div>

                  <div>
                     <label for="contactMessage">Message <span class="required">*</span></label>
                     <textarea cols="50" rows="15" id="contactMessage" name="message[body]"></textarea>
                  </div>

                  <div>
                      <input type="submit" name="" id="" value="Submit" />
                     <button class="submit">Submit</button>

                        <span id="image-loader">
                           <img alt="" src="assets/loader.gif">
                        -</span>
                  </div>

          </fieldset>
           </form> <!-- Form End -->

                <!-- contact-warning -->
                <div id="message-warning"> Error boy</div>
                <!-- contact-success -->
                <div id="message-success">
                    <i class="fa fa-check"></i>Your message was sent, thank you!<br>
                </div>
                -->

                <%= simple_form_for(@message,:remote => true ,:validate => true) do |f| %>
                    <%= f.error_notification %>

                <div class="form-inputs">
                    <%= f.input :name %>
                    <%= f.input :email ,class: 'form-control'%>
                    <%= f.input :subject %>
                    <%= f.input :body %>
                </div>

                <div class="form-actions">
                    <%= recaptcha_tags %>
                    <%= f.button :submit ,:class => "submit"%>
                </div>
            </div>
            <% end %>


            <aside class="four columns footer-widgets">

                <div class="widget widget_contact">

                    <h4>Address and Phone</h4>
                    <p class="address">
                    The Guindy Times,<br>
                    College of Engineering, Guindy <br>
                    Anna University,Chennai-25.<br>
                    <span>(123) 456-7890</span>
                    </p>

                </div>
            </aside>

        </div>

    </section> <!-- Contact Section End-->


    <!-- footer
   ================================================== -->
    <footer>

        <div class="row">

            <div class="twelve columns">

                <ul class="social-links">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <!--     <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="#"><i class="fa fa-instagram"></i></a></li>
               <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
               <li><a href="#"><i class="fa fa-skype"></i></a></li>-->
                </ul>

                <ul class="copyright">
                    <li>&copy; Copyright 2014 The Guindy Times</li>
                </ul>

            </div>

            <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>

        </div>

    </footer> <!-- Footer End-->

    <!-- Java Script
   ================================================== -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>

